<?xml version="1.0"?>
<launch>

  <arg name="use_depth" default="false" />
  <arg name="camera" default="camera" />
  
  <node name="dense_vision_client" pkg="dense_vision_client" type="dense_vision_client_node" cwd="node" respawn="false" output="screen">
    <rosparam command="load" file="$(find dense_vision_client)/config/dense_vision_client.yaml" />
    <param name="use_depth" value="$(arg use_depth)" />
    <remap from="/dense_vision_client/rgb" to="/$(arg camera)/rgb/image_rect_color" />
    <remap from="/dense_vision_client/disparity" to="/$(arg camera)/depth_registered/disparity" />
    <remap from="/dense_vision_client/depth" to="/$(arg camera)/depth_registered/hw_registered/image_rect_raw" />
  </node>

</launch>